body {
    background-color: #18181a;
    color: rgb(248, 246, 246);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    width: 100%;
}

nav {
    background-color: rgb(60, 61, 60);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo-link {
    display: flex;
    margin-right: 10rem;
    margin-left: 2rem;
    align-items: center;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bot-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-bot-ul li a {
    text-decoration: none;
    font-weight: bolder;
    color:rgb(124, 124, 225);
    font-size: 1.5rem;
}

#user-info {
    border: 2px solid rgb(41, 0, 0) ;
    padding: 6px;
    border-radius: 8px;
    color: rgb(248, 250, 250);
}

#user-info-span {
    color: rgb(255, 0, 0);
}

h1 {
    margin:  0 auto;
    color: rgb(124, 124, 225);
    font-size: 2rem;
}

h2 {
    text-align: center;
    margin:  0;
    color: rgb(124, 124, 225);
    font-size: 5rem;
}

h4 {
    text-align: center;
    margin:  0;
    color: rgb(124, 124, 225);
    font-size: 2rem;
}

#filter-input {
    background-color: rgb(255, 255, 255);
    margin: 2rem auto;
    border-radius: 8px;
    width: 300px;
    padding: 8px;
}

#cart-counter {
    width: 160px;
    border: 2px solid rgb(41, 0, 0) ;
    padding: 6px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

#cart-counter-span {
    color: rgb(255, 0, 0);
}

#cart-section {
    background-color:rgb(60, 61, 60);
    color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reset-cart, .boton-eliminar {
    background-color: rgb(223, 11, 11);
    padding: 6px;
    border-radius: 8px;
    color: rgb(238, 240, 240);
    font-size: 1rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    text-align:center;
}

.card-products {
    border: 4px solid rgb(39, 38, 38);
    padding: 6px;
    color: grey;
}

.card-products button {
    background-color: green;
    padding: 6px;
    border-radius: 4px;
    color: white;
}

.card-products img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    margin-bottom: 1rem;
}

